<robot name="g1_29dof_rev_1_0">
  <material name="dark">
    <color rgba="0.2 0.2 0.2 1" />
  </material>
  <material name="white">
    <color rgba="0.7 0.7 0.7 1" />
  </material>

  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>

  
  

  <link name="pelvis">
    <inertial>
      <origin xyz="-0.006108 0.001144 -0.044828" rpy="0 0 0" />
      <mass value="4.109766" />
      <inertia ixx="0.011514" ixy="0.000044" ixz="0.000094" iyy="0.010288" iyz="0.000120" izz="0.008246" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis.STL" />
      </geometry>
      <material name="dark" />
    </visual>
  </link>
  <link name="pelvis_contour_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis_contour_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis_contour_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="pelvis_contour_joint" type="fixed">
    <parent link="pelvis" />
    <child link="pelvis_contour_link" />
  </joint>

  
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.002918 0.047636 -0.019343" rpy="0 0 0" />
      <mass value="0.802468" />
      <inertia ixx="0.001832" ixy="0.000039" ixz="-0.000035" iyy="0.001436" iyz="0.000176" izz="0.001289" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.064452 -0.1027" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.5307" upper="2.8798" effort="88" velocity="32" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.031831 -0.003157 -0.085862" rpy="0 0 0" />
      <mass value="0.724257" />
      <inertia ixx="0.002395" ixy="-0.000006" ixz="-0.000388" iyy="0.002430" iyz="0.000018" izz="0.001663" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0 0.052 -0.030465" rpy="0 -0.1749 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5236" upper="2.9671" effort="139" velocity="20" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.055612 -0.012805 -0.150411" rpy="0 0 0" />
      <mass value="0.708427" />
      <inertia ixx="0.005708" ixy="-0.000511" ixz="-0.002306" iyy="0.007482" iyz="-0.000663" izz="0.003056" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0 -0.12412" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7576" upper="2.7576" effort="88" velocity="32" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.006796 -0.000532 -0.144176" rpy="0 0 0" />
      <mass value="2.438900" />
      <inertia ixx="0.008707" ixy="0.000047" ixz="0.000008" iyy="0.008659" iyz="-0.000529" izz="0.001490" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_knee_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.078273 0.0021489 -0.17734" rpy="0 0.1749 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.087267" upper="2.8798" effort="139" velocity="20" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007452 -0.000001 0.010540" rpy="0 0 0" />
      <mass value="0.083818" />
      <inertia ixx="0.000008" ixy="0.000000" ixz="-0.000003" iyy="0.000018" iyz="0.000000" izz="0.000012" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 -9.4445E-05 -0.30001" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87267" upper="0.5236" effort="35" velocity="30" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 -0.000000 -0.016425" rpy="0 0 0" />
      <mass value="0.607998" />
      <inertia ixx="0.000223" ixy="0.000000" ixz="0.000089" iyy="0.001616" iyz="0.000000" izz="0.001667" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="-0.05 0.025 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.025 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 0.03 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 -0.03 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.017558" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2618" upper="0.2618" effort="35" velocity="30" />
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.003289 -0.047254 -0.021772" rpy="0 0 0" />
      <mass value="0.754789" />
      <inertia ixx="0.001819" ixy="-0.000035" ixz="-0.000033" iyy="0.001423" iyz="-0.000170" izz="0.001285" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.064452 -0.1027" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.5307" upper="2.8798" effort="88" velocity="32" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.031545 -0.004239 -0.088321" rpy="0 0 0" />
      <mass value="0.939937" />
      <inertia ixx="0.002377" ixy="0.000009" ixz="-0.000380" iyy="0.002402" iyz="-0.000014" izz="0.001657" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0 -0.052 -0.030465" rpy="0 -0.1749 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.9671" upper="0.5236" effort="139" velocity="20" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.053239 0.008346 -0.146849" rpy="0 0 0" />
      <mass value="1.122686" />
      <inertia ixx="0.005448" ixy="0.000500" ixz="-0.002122" iyy="0.007096" iyz="0.000651" izz="0.002942" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0 -0.12412" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7576" upper="2.7576" effort="88" velocity="32" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.004811 -0.005175 -0.129135" rpy="0 0 0" />
      <mass value="3.474932" />
      <inertia ixx="0.009745" ixy="-0.000053" ixz="0.000139" iyy="0.009700" iyz="0.000643" izz="0.001514" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_knee_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.078273 -0.0021489 -0.17734" rpy="0 0.1749 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.087267" upper="2.8798" effort="139" velocity="20" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007451 -0.000004 0.010553" rpy="0 0 0" />
      <mass value="0.083980" />
      <inertia ixx="0.000008" ixy="0.000000" ixz="-0.000003" iyy="0.000018" iyz="0.000000" izz="0.000012" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0 9.4445E-05 -0.30001" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87267" upper="0.5236" effort="35" velocity="30" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 0.000000 -0.016425" rpy="0 0 0" />
      <mass value="0.607998" />
      <inertia ixx="0.000223" ixy="0.000000" ixz="0.000089" iyy="0.001616" iyz="0.000000" izz="0.001667" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="-0.05 0.025 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.025 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 0.03 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 -0.03 -0.03" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.017558" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2618" upper="0.2618" effort="35" velocity="30" />
  </joint>

  
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.003693 0.000011 0.018203" rpy="0 0 0" />
      <mass value="0.266180" />
      <inertia ixx="0.000107" ixy="0.000003" ixz="-0.000008" iyy="0.000104" iyz="0.000000" izz="0.000162" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_yaw_link_rev_1_0.STL" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="88" velocity="32" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0.000006 0.000028 0.000005" rpy="0 0 0" />
      <mass value="0.096241" />
      <inertia ixx="0.000007" ixy="0.000000" ixz="0.000000" iyy="0.000006" iyz="0.000000" izz="0.000008" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_rev_1_0.STL" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="-0.0039635 0 0.044" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.52" upper="0.52" effort="35" velocity="30" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="0.000015 -0.000297 0.181356" rpy="0 0 0" />
      <mass value="8.207848" />
      <inertia ixx="0.157375" ixy="-0.000226" ixz="-0.003481" iyy="0.149920" iyz="0.012559" izz="0.022592" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/torso_link_rev_1_0.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/torso_link_rev_1_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="torso_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.52" upper="0.52" effort="35" velocity="30" />
  </joint>

  
  <joint name="logo_joint" type="fixed">
    <origin xyz="0.0039635 0 -0.044" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="logo_link" />
  </joint>
  <link name="logo_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/logo_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/logo_link.STL" />
      </geometry>
    </collision>
  </link>

  
  <link name="head_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link.STL" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_joint" type="fixed">
    <origin xyz="0.0039635 0 -0.044" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_link" />
  </joint>


  
  <link name="imu_in_torso" />
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="-0.03959 -0.00224 0.14792" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="imu_in_torso" />
  </joint>

  <link name="imu_in_pelvis" />
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0.04525 0 -0.08339" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="imu_in_pelvis" />
  </joint>

  
  <link name="d435_link" />
  <joint name="d435_joint" type="fixed">
    <origin xyz="0.0576235 0.01753 0.42987" rpy="0 0.8307767239493009 0" />
    <parent link="torso_link" />
    <child link="d435_link" />
  </joint>

  
  <link name="mid360_link" />
  <joint name="mid360_joint" type="fixed">
    <origin xyz="0.0002835 0.00003 0.41618" rpy="0 0.04014257279586953 0" />
    <parent link="torso_link" />
    <child link="mid360_link" />
  </joint>

  
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.001868 0.035257 -0.011437" rpy="0 0 0" />
      <mass value="1.324478" />
      <inertia ixx="0.000427" ixy="-0.000009" ixz="0.000006" iyy="0.000451" iyz="0.000022" izz="0.000421" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0.04 -0.01" rpy="0 1.5707963267948966 0" />
      <geometry>
        <cylinder radius="0.03" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 0.10022 0.24778" rpy="0.27931 5.4949E-05 -0.00019159" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0892" upper="2.6704" effort="25" velocity="37" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.001639 0.006564 -0.062998" rpy="0 0 0" />
      <mass value="1.040657" />
      <inertia ixx="0.000610" ixy="-0.000001" ixz="0.000008" iyy="0.000683" iyz="-0.000006" izz="0.000388" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="-0.004 0.006 -0.053" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0 0.038 -0.013831" rpy="-0.27925 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5882" upper="2.2515" effort="25" velocity="37" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.011763 -0.004489 -0.069494" rpy="0 0 0" />
      <mass value="0.886197" />
      <inertia ixx="0.000973" ixy="0.000008" ixz="0.000133" iyy="0.001032" iyz="-0.000029" izz="0.000431" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0.00624 -0.1032" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="25" velocity="37" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.065444 0.003060 -0.008523" rpy="0 0 0" />
      <mass value="0.676582" />
      <inertia ixx="0.000287" ixy="0.000064" ixz="0.000017" iyy="0.000409" iyz="-0.000006" izz="0.000414" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.015783 0 -0.080518" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.0944" effort="25" velocity="37" />
  </joint>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.100 0.00188791 -0.010" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <limit effort="25" velocity="37" lower="-1.972222054" upper="1.972222054" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.016995 0.000045 0.000157" rpy="0 0 0" />
      <mass value="0.085570" />
      <inertia ixx="0.000048" ixy="-0.000004" ixz="0.000000" iyy="0.000037" iyz="0.000000" izz="0.000055" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.038 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_pitch_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.019630 -0.014242 0.007662" rpy="0 0 0" />
      <mass value="1.696189" />
      <inertia ixx="0.000160" ixy="0.000000" ixz="0.000008" iyy="0.000363" iyz="0.000001" izz="0.000362" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_yaw_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.080645 -0.007059 0.015478" rpy="0 0 0" />
      <mass value="1.771423" />
      <inertia ixx="0.000146" ixy="0.000038" ixz="-0.000009" iyy="0.000557" iyz="0.000004" izz="0.000479" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hand_palm_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.0415 0.003 0" rpy="0 0 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_rubber_hand" />
  </joint>
  <link name="left_rubber_hand">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_rubber_hand.STL" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.000381 -0.035325 -0.010176" rpy="0 0 0" />
      <mass value="1.632593" />
      <inertia ixx="0.000428" ixy="0.000009" ixz="0.000006" iyy="0.000453" iyz="-0.000022" izz="0.000422" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 -0.04 -0.01" rpy="0 1.5707963267948966 0" />
      <geometry>
        <cylinder radius="0.03" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 -0.10021 0.24778" rpy="-0.27931 5.4949E-05 0.00019159" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0892" upper="2.6704" effort="25" velocity="37" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.000588 -0.008985 -0.061979" rpy="0 0 0" />
      <mass value="1.016132" />
      <inertia ixx="0.000619" ixy="0.000001" ixz="0.000009" iyy="0.000693" iyz="0.000006" izz="0.000389" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="-0.004 -0.006 -0.053" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0 -0.038 -0.013831" rpy="0.27925 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.2515" upper="1.5882" effort="25" velocity="37" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010246 0.001630 -0.070382" rpy="0 0 0" />
      <mass value="0.737936" />
      <inertia ixx="0.001006" ixy="-0.000008" ixz="0.000143" iyy="0.001068" iyz="0.000030" izz="0.000436" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 -0.00624 -0.1032" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="25" velocity="37" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.064431 -0.005368 -0.009886" rpy="0 0 0" />
      <mass value="0.591381" />
      <inertia ixx="0.000289" ixy="-0.000066" ixz="0.000017" iyy="0.000416" iyz="0.000006" izz="0.000420" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.015783 0 -0.080518" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.0944" effort="25" velocity="37" />
  </joint>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.100 -0.00188791 -0.010" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <limit effort="25" velocity="37" lower="-1.972222054" upper="1.972222054" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.017159 -0.000715 -0.000002" rpy="0 0 0" />
      <mass value="0.084850" />
      <inertia ixx="0.000048" ixy="0.000004" ixz="0.000000" iyy="0.000037" iyz="0.000000" izz="0.000055" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0.038 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_pitch_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.025062 -0.003274 -0.001206" rpy="0 0 0" />
      <mass value="0.368922" />
      <inertia ixx="0.000165" ixy="0.000011" ixz="0.000011" iyy="0.000434" iyz="-0.000001" izz="0.000435" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_yaw_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.080385 -0.001331 0.002157" rpy="0 0 0" />
      <mass value="0.718443" />
      <inertia ixx="0.000150" ixy="-0.000040" ixz="-0.000007" iyy="0.000662" iyz="-0.000004" izz="0.000581" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hand_palm_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.0415 -0.003 0" rpy="0 0 0" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_rubber_hand" />
  </joint>
  <link name="right_rubber_hand">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_rubber_hand.STL" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
</robot>
